# Multi-Resolution Panos
# Skin with Default Buttons
# Documentation: http://krpano.com/tools/kmakemultires/config?version=10815
# krpano tools 1.0.8.15

# basic settings
include basicsettings.config
panotype=autodetect
hfov=360
html5=auto

# convert spherical/cylindrical to cubical
converttocube=true
converttocubelimit=360x45

# multiresolution settings
multires=true
tilesize=512
levels=auto
levelstep=2
maxsize=auto
maxcubesize=2000
leveldownload=auto

# output images path
tilepath=%INPUTPATH%/scene/%BASENAME%.tiles/[mres_c/]l%Al/%Av/l%Al[_c]_%Av_%Ah.jpg

# preview pano settings
preview=true
graypreview=false
previewsmooth=25
previewpath=%INPUTPATH%/scene/%BASENAME%.tiles/preview.jpg

# generate smaller mobile images
customimage[mobile].size=800
customimage[mobile].path=%INPUTPATH%/scene/%BASENAME%.tiles/mobile_%s.jpg
customimage[mobile].imagesettings=jpegquality=75 jpegsubsamp=420 jpegoptimize=true
customimage[mobile].xml=<mobile>[NL][TAB]<cube url="[PATH]" />[NL]</mobile>

# xml output
xml=true
xmlpath=%INPUTPATH%/scene/scene.xml

# skin / xml template
include defaultbuttons.skin

# html output/template
html=true
htmlpath=%INPUTPATH%/scene/scene.html
htmltemplate=html/swfkrpano.html
htmltemplate_js=html/swfkrpano.js

# include vtour editor
xmltemplate_additional_file=xml/plugins/vtoureditor.swf
htmltemplate_additional_file=html/editor.html

# compression settings (no jpegoptimize for very big panos)
jpegquality=75
jpegsubsamp=420
jpegoptimize=true
